@if o-website-value('product-detail-style')=='alan_product5' {

    .as-product-next-prev-history {
        border-bottom: 1px solid $gray-300;
        background: $gray-100;
        padding: 15px 0;
        .breadcrumb {
            font-size: 13px;
            text-transform: uppercase;
            a {
                color: $black;
            }
        }
    }

    #product_detail_main {
        #o-carousel-product {
            .carousel-control-prev, 
            .carousel-control-next{
                 > span {
                    border-radius: 0;
                 }
            }
            @include media-breakpoint-up(lg) {
                .o_carousel_product_indicators {
                    .carousel-indicators {
                        li {
                            border-radius: 0;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }

    #product_detail {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        @include media-breakpoint-up(lg) {
            #product_details,
            .o_wsale_product_images {
                margin-top: 0 !important;
                padding-top: 30px;
                padding-bottom: 30px;
                .as-quick-view-modal & {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
            .o_wsale_product_images {
                padding-right: 30px;
                .as-quick-view-modal & {
                    padding-right: 0;
                }
            }
            #product_details {
                border-left: 1px solid $gray-300;
                padding-left: 30px;
                .as-quick-view-modal & {
                    padding: 25px;
                    border-left: none;
                }
            }
        }
    }

    
    #product_details {
        position: relative;
        .as-ribbon-wrpa {
            position: relative;
            padding-bottom: 10px;
            font-size: 12px;
            padding-right: 80px;
            &:after,
            &:before {
                display: none;
            }
            [class*="ribbon-style-"] {
                position: relative;
                top: auto;
                left: auto;
                width: auto;
                height: auto;
                display: inline-flex;
                &:after,
                &:before {
                    display: none;
                }
                span {
                    position: relative;
                    top: auto;
                    left: auto;
                    right: auto;
                    bottom: auto;
                    box-shadow: none;
                    width: auto;
                    height: auto;
                    padding: 5px 12px;
                    display: inline-flex;
                    transform: none;
                    line-height: 1;
                    text-transform: uppercase;
                    border-radius: 6px;
                    &:after,
                    &:before {
                        display: none;
                    }
                }
            }
            .ribbon-style-2 {
                display: inline-block;
                vertical-align: top;
                padding: 2px;
            }
        }

        h1 {
            font-size: 20px;
            margin: 0 0 10px;
            color: $dark;
            font-weight: 600;
            padding-right: 40px;
        }
        .o_product_page_reviews_link  {
            width: 100%;
            display: flex;
            padding: 0;
            font-size: 14px;
            .o_website_rating_static {
                width: 100%;
                border-bottom: 1px solid $gray-300;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
        }
        p.text-muted {
            font-size: 15px;
            margin-top: 0 !important;
            padding-right: 30px;
        }
        .product_price {
            margin: 0;
            padding: 0;
            h3 {
                font-size: 18px;
                color: $primary;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .text-danger {
                    font-size: 80%;
                    margin: 0 8px
                }
            }
            .as-product-discounted {
                background: rgba($primary, 0.1);
                font-weight: 400;
                font-size: 12px;
                color: $primary;
                padding: 4px 12px;
                border-radius: 30px;
            }
            span.text-muted {
                margin: 0;
                flex: 0 0 100%;
                max-width: 100%;
                padding-top: 10px;
            }
        }
        .as_offer_timer {
            width: 100%;
            margin: 0 0 15px;
            display: flex;
            ul {
                margin: 0;
                padding: 6px 15px;
                display: flex;
                list-style: none;
                font-size: 15px;
                background: $gray-100;
                border: 1px solid $gray-200;
            }
            li {
                display: flex;
                flex-direction: column;
                + li {
                    margin-left: 10px;
                }
            }
            label {
                display: inline-flex;
                color: $dark;
                margin: 0 0 2px;
                font-weight: 600;
                font-size: 16px;
                @include media-breakpoint-down(lg) {
                    font-size: 14px;
                }
            }
            span {
                font-size: 11px;
                text-transform: uppercase;
                @include media-breakpoint-down(lg) {
                    font-size: 10px;
                }
            }
        }

        .as-month-sale-count {
            border-radius: 0;
        }

        .form-control {
            border-radius: 10px;
        }
        .form-select {
            border-radius: 10px;
        }


        .js_add_cart_variants {
            .variant_attribute  {
                .attribute_name {
                    font-weight: 600;
                    color: $dark;
                    font-size: 13px;
                    &:after {
                        display: none;
                    }
                }
                .show_advance_product {
                    padding-left: 12px;
                    color: $primary;
                    cursor: pointer;
                }
                .col-form-label {
                    padding-top: 0;
                    padding-bottom: 0;
                }
                .o_wsale_product_attribute {
                    .list-inline-item {
                        &.mb-3 {
                            margin-bottom: 0.5rem !important;
                        }
                    }
                }
                .o_variant_pills {
                    background: transparent !important;
                    color: $black;
                    border: 1px solid $black;
                    border-radius: 0;
                    &.btn.active {
                        background: $black !important;
                        color: $white;
                    }
                }
                .css_attribute_color {
                    border-radius: 0;
                    &:before {
                        border-radius: 0;
                    }
                }
            }
        }

        #o_wsale_cta_wrapper {
            align-items: flex-start !important;
            .css_quantity {
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                border-radius: 0;
                .btn {
                    border-radius: 0 !important;
                    &:not(.float_left) {
                        border-top-left-radius: 0 !important;
                        border-bottom-left-radius: 0 !important;
                    }
                    &.float_left {
                        border-top-right-radius: 0 !important;
                        border-bottom-right-radius: 0 !important;
                    }
                }
                .form-control {
                    border-radius: 0;
                }
            }
            #add_to_cart_wrap {
                display: flex !important;
                flex: 1;
                @include media-breakpoint-down(lg) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-top: 15px;
                }
                .btn {
                    padding: 0 20px;
                    height: 50px;
                    font-weight: 500 !important;
                    font-size: 14px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 !important;
                    border-radius: 0;
                    + .btn {
                        margin-left: 10px !important;
                    }
                    span {
                        font-weight: 500 !important;
                    }
                }
                .btn-primary {
                    border: 1px solid $dark !important;
                    background: $dark !important;
                    color: $white !important;
                    &:hover {
                        border: 1px solid $primary !important;
                        background: $primary !important;
                        color: $white !important;
                    }
                }
                .btn-outline-primary {
                    border: 1px solid transparent;
                    background: rgba($primary, 0.18);
                    color: $primary;
                    &:hover {
                        border: 1px solid $primary;
                        background: $primary;
                        color: $white;
                    }
                }
            }
        }

        #product_option_block {
            padding-top: 20px;
            gap: 20px;
            border-top: 1px solid $gray-300;
            margin-top: 10px;
            font-size: 13px;
            .btn {
                border: none;
                background: rgba($primary, 0.2);
                color: $primary;
                font-size: 14px;
                padding: 10px 15px !important;
                text-transform: uppercase;
                line-height: 1;
                text-decoration: none;
                border-radius: 0;
                &:hover {
                    border: none;
                    background: none;
                    color: $white;
                    background: $primary;
                }
            }   
        }


        .as-brand-info {
            display: flex;
            padding: 0 0 15px;
            align-items: flex-start;
            .as-b-avatar {
                flex: 0 0 100px;
                max-width: 100px;
                border: 1px solid $gray-300;
            }
            .as-b-text {
                flex: 1;
                padding-left: 15px;
                h6 {
                    font-weight: 600;
                    margin: 0 0 4px;
                }
                p {
                    margin: 0;
                }
            }
        }

        .as-offers-box {
            padding-bottom: 15px;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                border: 1px solid $gray-200;
            }
            li {
                display: flex;
                background: $gray-100;
                padding: 10px 15px;
                font-size: 14px;
                + li {
                    border-top: 1px solid $gray-200;
                }
                &:nth-child(odd) {
                    background: $gray-100;
                }
            }
            .show_advance_product {
                display: inline-block;            
                cursor: pointer;
                color: $primary;
                font-weight: 600;
                white-space: nowrap;
                &:hover {
                    color: $dark;
                }
            }
            .as-offer-icon {
                color: $primary;
            }
            .as-offer-text {
                flex: 1;
                padding-left: 10px;
                display: flex;
                strong {
                    color: $dark;
                    font-weight: 600;
                }
                p {
                    margin: 0;
                    padding-right: 15px;
                }
                .show-extra-prod-info {
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 12px;
                    color: $primary;
                    cursor: pointer;
                }
            }
        }

        .as-pd-lists {
            label {
                font-weight: 500;
                color: $dark;
                padding-right: 15px;
            }
        }

        .as-pd-extra {
        }

        .availability_messages {
            p {
                margin: 15px 0 0;
            }
        }

        .as-b2b-price {
            padding: 15px 0;
            .btn {
                padding: 0 20px;
                height: 50px;
                font-weight: 500;
                font-size: 14px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                border-radius: 10px;
                border: 1px solid transparent;
                background: rgba($primary, 0.18);
                color: $primary;
                i {
                    margin-right: 10px;
                }
                &:hover {
                    border: 1px solid $primary;
                    background: $primary;
                    color: $white;
                }
            }
        }

    }

    // Tabs 
    .product-details-tabs {
        border-top: 1px solid $gray-300;
        margin-top: 60px; 
        padding-bottom: 40px;
        .nav-tabs {
            border: none;
            white-space: nowrap;
            flex-wrap: nowrap;
            overflow-x: auto;
            padding: 0;
            justify-content: center;
            margin-top: -30px;
            gap: 20px;
            .nav-item {
                .nav-link {
                    border: 1px solid $gray-300;
                    color: $black;
                    background: $white;
                    text-transform: uppercase;
                    font-weight: 500;
                    border-radius: 0;
                    padding: 15px 30px;
                    margin: 0;
                    @include media-breakpoint-down(md) {
                        padding: 10px 20px;
                        font-size: 14px;
                    }
                    &.active {
                        border: 1px solid $black;
                        color: $white;
                        background: $black;
                    }
                }
            }
        }
        .tab-content {
            padding-top: 40px;
            .container {
                padding-left: 15px;
                padding-right: 15px;
            }
            .as-pd-full-spec-section {
                border-top: none !important;
            }
            .o_shop_discussion_rating {
                border: none !important;
            }
        }
    }

    .as-product-alt-acc-products {
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid $gray-300;
        .as-pd-extra-slider {
            + .as-pd-extra-slider {
                margin-top: 40px;
            }
            .right [class*="swiper-button-"] {
                border-radius: 8px;
            }
        }
        .as-alt-product {
            border-radius: 10px;
            .pro-img {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
    }

    .as-product-sticky-cart {
        .as-product-sticky-in {
            border-radius: 0 !important;
            .media {
                .prod_img {
                    border-radius: 0;
                    img {
                        border-radius: 0 !important;
                    }
                }
                .as-s-btn {
                    border-radius: 0;
                }
            }
        }
    }

}