@if o-website-value('header-template') == 'as_header8' {
    .header-top {
        .ht-top-end,
        .ht-top-start {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            gap: 20px;
            align-items: center;
        }
    }

    .header-middle {
        @include o-apply-colors('menu');
        @include o-apply-colors('menu-custom');
        @include o-add-gradient('menu-secondary-gradient');
        .mh-end {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            a {
                text-decoration: none;
                color: inherit !important;
            }
        }

        .as-h-search-form {
            padding-right: 15px;
            .oe_search_box {
                background: none !important;
                border: 1px solid rgba(var(--as-menu-color-rgb), 0.1) !important;
                color: var(--as-menu-color);
                border-radius: 30px !important;
                height: 45px;
                padding: 7px 45px 7px 20px;
            }
            .oe_search_button {
                padding: 0;
                width: 35px;
                height: 45px;
                border-radius: 0;
                background: none !important;
                box-shadow: none;
                outline: none;
                position: absolute;
                top: 0;
                right: 0;
                text-align: left;
                border: none;
            }
        }

        .hm-icon {
            width: 45px;
            height: 45px;
            background: none;
            color: var(--as-menu-color);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            font-size: 22px;
            border-radius: 50%;
            transition: ease all 0.35s;
            background: rgba(var(--as-menu-color-rgb), 0.08);
            &:hover {
                background: $primary;
                color: $white !important;
            }
            .fa-stack {
                width: auto;
                height: auto;
                line-height: normal;
            }
            .h-sup {
                position: absolute;
                top: -4px;
                right: -4px;
                font-size: 10px;
                padding: 0;
                border-radius: 50px;
                min-width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .as-h-user {
            font-size: 0px;
            &:before {
                font-size: 22px;
            }
        }
        .navbar-nav {
            >.nav-item {
                >.nav-link {
                    padding: 0.15rem 1.1rem;
                    font-weight: 400;
                    color: rgba(var(--as-menu-color-rgb), .75) !important;
                    line-height: 80px;
                    &.active,
                    &:hover {
                        color: rgba(var(--as-menu-color-rgb), 1) !important;
                    }
                }
            }
        }
    }


    // o header overlay
    .o_header_overlay {
        >header:not(.o_header_affixed):not(.o_header_sidebar):not(:hover) {
            --as-ho-color: 255, 255, 255;
            --as-menu-color: #fff;
            --as-menu-color-rgb: 255, 255, 255;

            .as-main-header {
                box-shadow: none !important;

                .header-top {
                    background: transparent;
                    border-bottom: 1px solid rgba(var(--as-ho-color), 0.1);
                }

                .header-middle {
                    background: transparent;
                    .as-h-search-form {
                        .as-h-search-input {
                            border-color: transparent !important;
                        }
                        .as-h-search-btn {
                            border-color: transparent !important;
                        }
                    }
                }

                .header-navbar {
                    background: transparent;
                }

                .navbar-brand.logo {
                    img {
                        filter: invert(1);
                    }
                }

            }

            .as-ah-navbar {
                --as-ah-link-color: #fff !important;
                background-color: transparent !important;
                border-top: 1px solid rgba(var(--as-ho-color), 0.1);
            }

        }
    }

}


