@if o-website-value('shop-layout')=='alan_shop_layout_full' {
    .as_shop_page {
        #wrap {
            > .container {
                max-width: 1800px;
            }
        }
    }
    #products_grid_before {
        max-width: 350px;
    }
    #products_grid {
        flex: 1;
    }
}